BETTER_AUTH_SECRET=5cd292f0b0ca327455962a75cfcc1150145082d891c45c83340147f10692daa8
BETTER_AUTH_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres.ihmbuxdwtclsbzmuadxk:ePgs3SZeGoCW6z48@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres